@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #ff5500;
    --primary-button-color: #76bf42;
    --primary-button-hover-color: #faa43e;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

.logo {
    max-width: 250px;
    height: auto;
}

h1 {
    color: var(--text-color);
}

/* Estilos para el formulario */
.btn-primary {
    background-color: var(--primary-button-color);
    border-color: var(--primary-button-color);
    color: #ffffff;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-button-hover-color);
    border-color: var(--primary-button-hover-color);
    color: #ffffff;
}

.form-control:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.25rem rgba(255, 85, 0, 0.25);
}

.form-control {
    background-color: #ffffff;
    border-color: #cccccc;
    color: var(--text-color);
}

.form-control::placeholder {
    color: #888888;
}
